<section class="align">
    <div class="grid text-center">

        <img src="/assets/img/tms-erp.svg" alt="TMS LOGO" class="mb-5"/>

        <form #forgotPasswordForm = "ngForm" (ngSubmit)="forgotPassword(forgotPasswordForm)" method="POST" class="form login" novalidate>

            <div class="form__field">
                <label for="login__username"><svg class="icon">
                    <use xlink:href="#icon-user"></use>
                </svg><span class="hidden">Username</span></label>
                <input autofocus autocomplete="username" id="login__username" type="text" ngModel #username="ngModel" name="username" class="form__input" placeholder="Username" minlength="4" required>
            </div>
            <div *ngIf="username.invalid && (username.dirty || username.touched)"class="text-danger text-left">

                <div *ngIf="username.errors?.required">
                    Username is required.
                </div>
                <div *ngIf="username.errors?.minlength">
                    Username must be at least 4 characters long.
                </div>

            </div>

            <div class="form__field">
                <label for="login__username"><svg class="icon">
                    <use xlink:href="#icon-email"></use>
                </svg><span class="hidden">Email</span></label>
                <input autocomplete="email" id="login__username" type="email" ngModel #email="ngModel" name="email" class="form__input" placeholder="Email" required>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"class="text-danger text-left">

                <div *ngIf="email.errors?.required">
                    Email is required.
                </div>

            </div>

            <div class="form__field">
                <input type="submit" value="Next" [disabled]="forgotPasswordForm.invalid" />
            </div>

        </form>

        <p class="text--center"><a routerLink="/auth/login"> Back to Login </a> <svg class="icon">
            <use xlink:href="#icon-arrow-right"></use>
        </svg></p>

    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
        <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
        <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
        </symbol>
        <symbol id="icon-email" viewBox="0 0 24 24">
            <path d="M12 .02c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.99 6.98l-6.99 5.666-6.991-5.666h13.981zm.01 10h-14v-8.505l7 5.673 7-5.672v8.504z"/>
        </symbol>
        <symbol id="icon-user" viewBox="0 0 1792 1792">
        <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" />
        </symbol>
    </svg>
</section>
