<div class="row" *ngIf="title">
    <div class="col-12">
        <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
            <div class="page_title_left d-flex align-items-center">
                <h3 class="f_s_25 f_w_700 dark_text mr_30" >{{title}}</h3>
                <ol class="breadcrumb page_bradcam mb-0">
                    <li *ngIf="path.length" class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li *ngFor="let item of path" class="breadcrumb-item">{{item}}</li>
                </ol>
            </div>
            <div *ngIf="right_nav" (click)="openSideRight()" class="sidebar_icon_right d-lg-none">
                <!-- <i class="ti-menu"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </div>
        </div>
    </div>
</div>
