<div class="menu_Notification_Wrap_mobile">
  <div class="notification_header_mobile">
    <h4>Notifications</h4>
  </div>
  <div class="notification_body_mobile">
    <!-- single_notify  -->
    <div class="single_notify_mobile d-flex align-items-center">
      <div class="notify_thumb_mobile">
        <a href="#"><img src="assets/img/staf/2.png" alt="" /></a>
      </div>
      <div class="notify_content_mobile">
        <a href="#"><h5>Cool Marketing</h5></a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <!-- single_notify  -->
    <div class="single_notify_mobile d-flex align-items-center">
      <div class="notify_thumb_mobile">
        <a href="#"><img src="assets/img/staf/4.png" alt="" /></a>
      </div>
      <div class="notify_content_mobile">
        <a href="#"><h5>Awesome packages</h5></a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <!-- single_notify  -->
    <div class="single_notify_mobile d-flex align-items-center">
      <div class="notify_thumb_mobile">
        <a href="#"><img src="assets/img/staf/3.png" alt="" /></a>
      </div>
      <div class="notify_content_mobile">
        <a href="#"><h5>what a packages</h5></a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <!-- single_notify  -->
    <div class="single_notify_mobile d-flex align-items-center">
      <div class="notify_thumb_mobile">
        <a href="#"><img src="assets/img/staf/2.png" alt="" /></a>
      </div>
      <div class="notify_content_mobile">
        <a href="#"><h5>Cool Marketing</h5></a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <!-- single_notify  -->
    <div class="single_notify_mobile d-flex align-items-center">
      <div class="notify_thumb_mobile">
        <a href="#"><img src="assets/img/staf/4.png" alt="" /></a>
      </div>
      <div class="notify_content_mobile">
        <a href="#"><h5>Awesome packages</h5></a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <!-- single_notify  -->
    <div class="single_notify_mobile d-flex align-items-center">
      <div class="notify_thumb_mobile">
        <a href="#"><img src="assets/img/staf/3.png" alt="" /></a>
      </div>
      <div class="notify_content_mobile">
        <a href="#"><h5>what a packages</h5></a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
  <div class="nofity_footer_mobile">
    <div class="see_more">
      <a href="#" class="see_more_button">See More</a>
    </div>
  </div>
</div>
